*{
	padding: 0;
	margin: 0;
}body{
	position: relative;
	background: #e6e6e6;
	background-attachment: fixed;
}.cuerpo{
	position: relative;
	background: #fff;
	width: 1000px;
	height: 100%;
	left: 200px;
}
/*----------------------------cabezera de Inico-------------------------- */
#barra{

	background: #000;
	width: inherit;
	height: inherit;
}#barra .logo{
	position: relative;
	display: block;
	top: 20px;
	right: -20px;
	width: 80px;
	height:60px;

}#barra h1{
position: absolute;
top: 30px;
left: 40%;
right: 0;
bottom: 0;
color: #fff;

}
#barra .redes{
	position: relative;
	top: -25px;
	left:75%;
	right:0 ;
	padding: 1px 10px;
	width: 30px;
	height: 30px;
}

/* ------------------------menu Inicio----------------------*/

#head .menu{
	width: inherit;
	height: inherit;
}#head .menu ul{

	list-style: none;
}
#head .menu ul li{
	position: relative;
	left: 15%;
	display: inline-block;
}#head .menu ul li a{
	padding: 20px 40px;
	display: block;
	color: #000;
	text-decoration: none;
}#head .menu ul li a:hover{

	background: rgba(127, 126, 132, .5);
	color: #fff;
	
}
/* ---------------------Imagen De fondo------------------------*/
.container{
	margin: auto;
	background-color: white;
	width: 800px;
	padding: 30px;
}
.Slider li{
	margin: 0;
	padding: 0;
	list-style: none;

}.Slider{
	position: relative;
	width: 800px;
	height: 300px;
}.Slider li{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
	height: inherit;
	background-color: white;
	transition: opacity .5s;

}.Slider li img{
	width: 100%;
	height: 300px;
	object-fit: cover;

}
ul.Slider li:first-child{
	opacity: 1;
}
ul.Slider li:target{
	opacity: 1;
}

.menu2{
	text-align: center;
	margin: 20px;
}
.menu2 li{
	display: inline-block;
	text-align: center;
	
}.menu2 li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 8px;
	height: 8px;
	font-size: 8px;
	border-radius: 100%;
}

/* --------------------------Informacion--------------------------*/
.main .secciones{
	position: relative;
	width: inherit;
	height: inherit;

}
#Informaciones{
	background: #343434;
	height: 450px;

}.titulo{
	text-align: center;
	font-family: "italic";
	font-size: 50px;
}
#Informaciones article{

	position: relative;
	float: left;
	background: white;
	left: 5%;
	width: 140px;
	height: 370px;
	padding: 40px;

}#Informaciones .Informacion2{

	background: #C1AB23;


}#Informaciones article:hover{

	background: #201F1F;
	color: #fff;


}#Informaciones .Informacion{

	background: #343434;


}#Informaciones article h2{

	font-size: 40px;
	font-family: "Arial";
	color: #fff;

}#Informaciones article p{
	font-family: "Arial";
	color: #fff;
}


/* --------------------------Noticias--------------------------*/

#Noticias {

	background: #fff;
	height: 250px;

}.TituloN{
	font-size: 30px;
	font-family: "Arial";
	text-align: center;
}

#Noticias .Informacion{
	position: relative;
	display: inline-block;
	background: white;
	left: 5%;
	width: 140px;
	height: 100px;
	padding: 40px;
}#Noticias .Informacion:hover{

	box-shadow: 5px 5px 0px rgba(24, 23, 23, 0.5);
}

/* -------------menu Inicio-----------*/

/* -------------menu Inicio-----------*/

/* -------------------Pie de Pagina-------------------*/

footer{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 20px 20px;
}


