*{
	padding: 0;
	margin: 0;
}.cuerpo {
	position: relative;
	background: #e6e6e6;
	background-attachment: fixed;
}
/*----------------------------cabezera de Inico-------------------------- */
#barra{

	background: #000;
	width: 100%;
	height: 100px;
}#barra .logo{
	position: relative;
	display: block;
	top: 20px;
	right: -20px;
	width: 80px;
	height:60px;

}#barra h1{
position: absolute;
top: 30px;
left: 40%;
right: 0;
bottom: 0;
color: #fff;

}
#barra .redes{
	position: relative;
	top: -25px;
	left: 80%;
	right:0 ;
	padding: 1px 10px;
	width: 30px;
	height: 30px;
}

/* ------------------------menu Inicio----------------------*/

#head .menu{
	
}#head .menu ul{

	list-style: none;
}
#head .menu ul li{
	position: relative;
	left: 15%;
	display: inline-block;
}#head .menu ul li a{
	padding: 20px 40px;
	display: block;
	color: #000;
	text-decoration: none;
}#head .menu ul li a:hover{

	background: rgba(127, 126, 132, .5);
	color: #fff;
	
}
/* ---------------------Imagen De fondo------------------------*/
.Principal {
	position: relative;
	
	width: 90%;
	top: 0;
	left: 5px;
	right: 0;

}

/* --------------------------Informacion--------------------------*/
.main .secciones{
	position: relative;
	width: 100%;

}
#Informaciones{
	background: #343434;
	height: 450px;

}.titulo{
	text-align: center;
	font-family: "italic";
	font-size: 50px;
}
#Informaciones article{

	position: relative;
	float: left;
	background: white;
	left: 5%;
	width: 215px;
	height: 370px;
	padding: 40px;

}#Informaciones .Informacion2{

background: #C1AB23;


}#Informaciones article:hover{

background: #201F1F;
color: #fff;


}
#Informaciones .Informacion{

background: #343434;


}


#Informaciones article h2{

font-size: 40px;
font-family: "Arial";
color: #fff;

}#Informaciones article p{
	font-family: "Arial";
	color: #fff;
}


/* -------------menu Inicio-----------*/

/* -------------menu Inicio-----------*/

/* -------------menu Inicio-----------*/

/* -------------menu Inicio-----------*/


